<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<!-- 源目录-->
		<add key="YML" value="E:\测试压缩"/>
		<!-- 目标目录 -->
		<add key="MBML" value="E:\压缩结果"/>
		<!-- 是否删除源文件：true代表删除、false代表不删除 -->
		<add key="IsDelete" value="true"/>
		<!-- 如果压缩包已存在时，是否覆盖：1代表覆盖 -->
		<add key="IsCover" value="1"/>
		<!-- 是否启动定时压缩：1代表启动 -->
		<add key="IsStar" value="1"/>
		<!-- 多久执行一次（小时）-->
		<add key="TimeCount" value="1"/>

	</appSettings>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>